@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base light mode */
@layer base {
  html {
    @apply bg-white text-gray-900;
  }

  body {
    @apply bg-white text-gray-900 min-h-screen;
  }
}

/* Optional: links */
a {
  @apply text-indigo-600 hover:underline;
}
